.deckManager {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-areas: 
  "a a"
  "b c"
  "d d";
  grid-template-rows: 3rem 4.5rem auto;
  margin-top: 2.5rem;
}

.deckManager .inputDiv {
  position: relative;
}

.deckManager label {
  font-weight: 300;
  color: #DDD;
  grid-area: a;
  margin-left: .5rem;
  justify-self: start;
  align-self: center;
  position: absolute;
  left: 0;
  top: 10px;
  transition: top .3s ease;
}

.deckManager input {
  border: 0;
  font-size: 1.5rem;
  height: 3rem;
  padding: .25rem;
  width: 100%;
  max-width: 30rem;
  background-color: rgb(36, 34, 46);
  border-bottom: 1px solid white;
  color: white;
  justify-self: start;
  align-self: center;
}

.deckManager > button {
  background-color: #234;
  border: 0;
  border-radius: .25rem;
  color: white;
  width: 100%;
  max-width: 10rem;
  justify-self: end;
  align-self: center;
  height: 3.5rem;
}

.deckManager .tableContainer {
  grid-area: d;
}

.deckManager table {
  width: 100%;
  text-align: center;
}

.deckManager th {
  text-decoration: underline;
  height: 3rem;
}

.deckManager th:first-child {
  width: 15rem;
}

.deckManager td {
  height: 3rem;
}

@media (max-width: 600px) {
  .deckManager {
    grid-template-rows: 2.5rem 3rem auto;
    grid-template-columns: 2fr 1fr;
  }

  .deckManager .tableContainer {
    grid-area: d;
    overflow-x: scroll;
  }

  .deckManager input {
    width: 100%;
    max-width: 15rem;
    height: 2.5rem;
    align-self: center;
  }
  
  .deckManager > button {
    height: 3rem;
    width: 7rem;
    align-self: center;
  }

  .deckManager table {
    min-width: 40rem;
    overflow-x: scroll;
    padding-right: 1.5rem;
    padding-top: 1rem;
  }
}